<p id="notice"><%= notice %></p>

<h1>Listing Gps</h1>

<table>
  <thead>
    <tr>
      <th>Location, IP= <%=  IPSocket.getaddress(Socket.gethostname) %></th>
      <th colspan="3"><% =@respons %></th>
    </tr>
  </thead>

  <tbody>
    <% @gps.each do |gp| %>
      <tr>
        <td><%= gp.location %></td>
        <td><%= link_to 'Show', gp %></td>
        <td><%= link_to 'Edit', edit_gp_path(gp) %></td>
        <td><%= link_to 'Destroy', gp, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Gp', new_gp_path %>
